.mat-toolbar {
  height: 80px;
  background-color:lightblue;
  color: darkred;
  justify-content: center;
  margin-left: 30px;
  margin-right: 10px;
  width:96.5%;
  border-radius: 10px;
}

.mat-sidenav-container {
    margin-top: 10px;
    padding: 16px;
    /* height: calc(100vh - 65px); */
    height: 100%;
    border-radius: 10px;
    text-align: center;    
  }

.mat-sidenav {
    margin: 16px;
    border-right: none;
    background:lightblue;
    width: 150px;
    margin-top: 16px;
    border-radius: 10px;
    color:darkred;
    padding-top: 20px;
    overflow-y: auto;
  }
  
  .mat-nav-list{
    justify-content: center;
    padding-top: 50px;
  }
  .content {
    padding-left: 50px;
    height:calc(100vh - 98px);
    background-color: lightcyan;
    display:flex;
    justify-content: left;
    font-size: 1rem;
    border-radius: 30px;
  }
  
  .menu-button {
    width: 50%;
    justify-content: center;
    background-color: transparent;
    margin-bottom: 10px;
    font-size: 15px;
    margin-left: 8px;
    min-width: 120px;
    border-color: transparent;
  }
  
  .mat-icon{
    width: 20px;
    display: inline;
  }
  